.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    flex-direction: column;
}

.menu button {
    padding: 1rem 2.8rem;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    color: #fff;
    box-shadow: 2px 2px 3px #000;
    font-weight: bold;
    opacity: 0.8;
    transition: .2s;
}

.menu button:hover {
    opacity: 1;
}

#continue {
    background-color: #1dd8db;
}

#new-game {
    background-color: #eb8b42;
}